@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

/* #000
#FFFFC5 */

@layer base {
	html {
		font-family: "Roboto", sans-serif;
	}

	body {
		box-sizing: border-box;
		overflow-x: hidden;
		user-select: none;
	}

	button {
		display: flex !important;
		align-items: center !important;
	}

	svg {
		cursor: pointer !important;
	}
}

.view-details {
	width: 100%;
}

.view-details tr {
	height: 50px;
}

.view-details tr:nth-child(odd) {
	background: #ccc;
}

.view-details th {
	border-right: 1px solid black;
}

.view-details td {
	padding-left: 30px;
}

.view-details span {
	color: #f00;
	font-style: italic;
	font-size: 14px;
}

.ant-modal-footer {
	display: flex;
	justify-content: flex-end;
}

.ant-modal-content button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ant-picker-dropdown .ant-picker-ok button,
.ant-modal-footer button:last-child {
	background: #000;
	color: #fff;
	font-size: 12px;
}

.fc-toolbar-chunk {
	display: flex !important;
}

.fc-toolbar-chunk button {
	text-transform: capitalize !important;
}

.ant-input-group-addon > button {
	justify-content: center !important;
	background: #000 !important;
}

.ant-input-group-addon > button:hover {
	opacity: 0.8;
	transition: all;
}

.ant-form-item-label > label {
	font-weight: bold;
}